// HEADER
.large-hero {
    &__image {
        width: 100%;
        position: relative;
        height: 60rem;
        border-bottom: 1rem solid $color-blue-dark;
        display: inline-block;
        @include respond(phone){
            height: 50rem;
        }

    }
    &__header {
        padding-top: 15rem;
        height: 100vh;
        display: block;
        @include absCenter;
        text-align: center;
        text-transform: capitalize;
        @include respond(phone){
            padding-top: 13rem;
        }
        &--title {
            color: rgba($color-blue-dark, .7);
            font-size: 5.5rem;
            margin: 0 0 4.5rem 0;
            font-weight: 300;
            @include respond(tab-port) {
                font-size: 5rem;
                margin-bottom: 3.5rem;
            }
            @include respond(phone) {
                font-size: 4rem;
                margin-bottom: 1.5rem;
            }
        }
        &--subtitle {
            color: rgba($color-blue-dark, .9);
            font-weight: 400;
            font-size: 4.5rem;
            margin: 0 0 3.5rem 0;
            @include respond(phone) {
                font-size: 3rem;
                margin-bottom: 2.5rem;
            }
        }
        &--desc {
            color: rgba($color-white, .9);
            font-weight: 300;
            font-size: 3.5rem;
            line-height: 1.5;
            margin-bottom: 2.5rem;
            @include respond(phone) {
                font-size: 2.2rem;
                line-height: 1.5;
                margin-bottom: 2.5rem;
            }
        }
    }
    &__button{
        @include respond(phone){
            padding: 1rem 2.5rem !important;
        }
    }
}