/* 

#ff0000 :: This entier css code is written by node:sass. So to apply maintainance and modifications it's
a better practice to do it using the sass folders not the main css file :: #ff0000

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto',  sans-serif;
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 120%; } }

body {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  color: #333333;
  background-color: #FFFFFF; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #DDDDDD;
  color: #111111; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem; } }

.u-margin-top-small {
  margin-top: 2rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 1rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 4rem; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #2f5572;
  color: #FFFFFF;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 1rem 2.5rem #333333;
  font-size: 1.6rem;
  text-transform: uppercase;
  transform: translateY(0);
  transition: all .3s;
  position: relative;
  cursor: pointer;
  z-index: 1; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3px; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2.5rem #333333; }
  .btn:hover::after {
    transform: scale(1.5, 2);
    opacity: 0; }

.btn:active {
  transform: translateY(0rem);
  box-shadow: 0 0.5rem 2rem #333333; }

.btn--orange {
  background-color: #d59541 !important; }
  .btn--orange::after {
    background-color: #d59541;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all 0.3s; }

.header--second {
  font-weight: 300;
  font-size: 3.8rem;
  text-transform: capitalize;
  margin: 2.5rem; }
  .header--second--blue {
    color: #2f5572; }

.header--third {
  font-weight: 300;
  font-size: 2.8rem;
  text-transform: capitalize;
  margin: 2.5rem; }
  .header--third--orange {
    color: #d59541; }
  .header--third--wraped {
    max-width: 40%;
    margin-left: auto;
    margin-right: auto; }

.section__header {
  font-size: 6rem;
  text-align: center;
  margin: 3rem 0 10rem 0;
  color: #FFFFFF;
  display: block;
  font-weight: 300; }
  @media only screen and (max-width: 37.5em) {
    .section__header {
      font-size: 4rem; } }
  .section__header--blue {
    color: #2f5572; }
  .section__header--image {
    display: inline-block;
    margin: 1rem 2rem 0 0; }
    @media only screen and (max-width: 37.5em) {
      .section__header--image {
        margin: 0rem .5rem -1rem 0; } }

.features-section__block {
  color: #FFFFFF;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .features-section__block {
      font-size: 1.6rem; }
      .features-section__block--end {
        margin-bottom: 0; } }
  .features-section__block--image {
    float: left;
    display: block; }
  .features-section__block--typo {
    margin-left: 8rem; }
  .features-section__block--header {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: left; }
  .features-section__block--para {
    font-weight: 300;
    line-height: 1.5;
    text-align: left; }

.testimonials__card {
  border: 1px solid #2f5572;
  position: relative;
  height: 43rem;
  background-color: rgba(255, 255, 255, 0.3); }
  @media only screen and (max-width: 56.25em) {
    .testimonials__card {
      max-width: 40rem;
      left: 50%;
      transform: translateX(-50%); } }
  @media only screen and (max-width: 37.5em) {
    .testimonials__card {
      max-width: 35rem; } }
  .testimonials__card--image {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid #FFFFFF; }
  .testimonials__card__header--blue {
    font-size: 2rem;
    color: #2f5572;
    padding: 10rem 0 1rem 0; }
  .testimonials__card__header--orange {
    font-size: 1.4rem;
    color: #d59541;
    padding-bottom: 1rem;
    font-weight: 500; }
  .testimonials__card--para {
    color: #2f5572;
    font-weight: 500;
    text-indent: 3rem;
    text-align: left;
    line-height: 2;
    font-size: 1.4rem;
    padding: .5rem 2rem;
    hyphens: auto; }

/* Do not edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */
.icon {
  background-image: url("/assets/images/sprites/sprite-d675eadb.svg"); }

.icon--clear-view-escapes {
  width: 142.4px;
  height: 59.53px;
  background-position: 0 0; }

.icon--comment {
  width: 64px;
  height: 64px;
  background-position: 99.70443349753694% 0; }

.icon--facebook {
  width: 21.23px;
  height: 42.01px;
  background-position: 26.040607071652357% 45.795830448496034%; }

.icon--fire {
  width: 56px;
  height: 64px;
  background-position: 0 99.56481481481481%; }

.icon--globe {
  width: 64px;
  height: 64px;
  background-position: 27.586206896551722% 99.56481481481481%; }

.icon--instagram {
  width: 42.01px;
  height: 42.01px;
  background-position: 63.2917018534157% 49.234556504346486%; }

.icon--mail {
  width: 64px;
  height: 48px;
  background-position: 0 48.00806451612903%; }

.icon--rain {
  width: 64px;
  height: 64px;
  background-position: 99.70443349753694% 59.25925925925926%; }

.icon--star {
  width: 64px;
  height: 64px;
  background-position: 59.11330049261084% 99.56481481481481%; }

.icon--twitter {
  width: 51.78px;
  height: 42.06px;
  background-position: 94.04330452560171% 98.50700323226104%; }

.icon--wifi {
  width: 60px;
  height: 64px;
  background-position: 68.79227053140097% 0; }

.icon--youtube {
  width: 34.75px;
  height: 42px;
  background-position: 36.69752421959096% 45.792307692307695%; }

.footer__para {
  font-size: 1.4rem;
  margin: 1.1rem;
  color: #FFFFFF; }

.footer__link {
  font-size: 1.2rem !important;
  margin: 1.5rem 2rem;
  padding: 1.2rem 2rem !important;
  box-shadow: none !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 60rem;
      padding: 0; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10rem !important; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.large-hero__image {
  width: 100%;
  position: relative;
  height: 60rem;
  border-bottom: 1rem solid #2f5572;
  display: inline-block; }
  @media only screen and (max-width: 37.5em) {
    .large-hero__image {
      height: 50rem; } }

.large-hero__header {
  padding-top: 15rem;
  height: 100vh;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: capitalize; }
  @media only screen and (max-width: 37.5em) {
    .large-hero__header {
      padding-top: 13rem; } }
  .large-hero__header--title {
    color: rgba(47, 85, 114, 0.7);
    font-size: 5.5rem;
    margin: 0 0 4.5rem 0;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .large-hero__header--title {
        font-size: 5rem;
        margin-bottom: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .large-hero__header--title {
        font-size: 4rem;
        margin-bottom: 1.5rem; } }
  .large-hero__header--subtitle {
    color: rgba(47, 85, 114, 0.9);
    font-weight: 400;
    font-size: 4.5rem;
    margin: 0 0 3.5rem 0; }
    @media only screen and (max-width: 37.5em) {
      .large-hero__header--subtitle {
        font-size: 3rem;
        margin-bottom: 2.5rem; } }
  .large-hero__header--desc {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .large-hero__header--desc {
        font-size: 2.2rem;
        line-height: 1.5;
        margin-bottom: 2.5rem; } }

@media only screen and (max-width: 37.5em) {
  .large-hero__button {
    padding: 1rem 2.5rem !important; } }

.navigation {
  display: block;
  background-color: rgba(47, 85, 114, 0.9);
  width: 100%;
  position: relative; }
  .navigation::after {
    content: "";
    clear: both;
    display: table; }
  @media only screen and (max-width: 56.25em) {
    .navigation__menu-icon {
      height: 2rem;
      width: 2rem;
      position: absolute;
      background-color: #FFFFFF;
      margin-top: 2%;
      right: 5%;
      z-index: 10; } }
  .navigation__logo {
    font-size: 0;
    color: transparent;
    background-color: #2f5572;
    float: left;
    display: block;
    position: absolute;
    top: 0;
    padding: 2rem;
    margin-left: 10rem;
    z-index: 2; }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo {
        float: none;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%); } }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo {
        padding: .5rem; } }
  .navigation__list {
    float: right;
    text-align: left;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
    .navigation__list--item {
      float: left;
      font-size: 1.8rem;
      padding: 2rem 1.5rem 1rem 1.5rem; }
    .navigation__list--link {
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 300; }
      .navigation__list--link--button {
        font-size: 1.3rem !important;
        margin-top: -1rem;
        box-shadow: none !important; }

.starter__banner {
  margin-top: 2.5rem;
  display: table; }

.starter__image--1 {
  max-width: 80%;
  margin-bottom: 5rem; }

.starter__image--2 {
  display: table-cell; }

.starter__info {
  display: table-cell;
  font-size: 1.5rem;
  line-height: 2; }
  .starter__info__p {
    text-align: left;
    padding: 0 2rem; }

.features-section {
  padding: 4rem 1rem 1rem 2rem;
  background-color: #2f5572; }

.testimonials {
  background-image: url("../images/testimonials-bg.jpg");
  background-position: top;
  background-size: cover;
  padding: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      padding: 1rem; } }

.footer {
  padding: .5rem;
  background-color: #2f5572; }
