/* 

#ff0000 :: This entier css code is written by node:sass. So to apply maintainance and modifications it's
a better practice to do it using the sass folders not the main css file :: #ff0000

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 120%; } }

body {
  width: 100%;
  padding: 2rem;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #111111; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #DDDDDD;
  color: #111111; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 4rem; } }

.u-margin-top-small {
  margin-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 1rem; } }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 4rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem !important; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }
