.features-section {
    &__block {
        color: $color-white;
        font-size: 1.8rem;
        position: relative;
        margin-bottom: 10rem;
        @include respond(tab-port){
            font-size: 1.6rem;
            &--end{
                margin-bottom: 0;

            }
        }
        &--image {
            float: left;
            display: block;
        }
        &--typo {
            margin-left: 8rem;
        }
        &--header {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
            text-align: left;
        }
        &--para {
            font-weight: 300;
            line-height: 1.5;
            text-align: left;
        }
    }
}