//Headers
.header {
    &--second {
        font-weight: 300;
        font-size: 3.8rem;
        text-transform: capitalize;
        margin: 2.5rem;
        &--blue {
            color: $color-blue-dark;
        }
    }
    &--third {
        font-weight: 300;
        font-size: 2.8rem;
        text-transform: capitalize;
        margin: 2.5rem;
        &--orange {
            color: $color-orange-dark;
        }
        &--wraped {
            max-width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.section {
    &__header {
        font-size: 6rem;
        text-align: center;
        margin: 3rem 0 10rem 0;
        color: $color-white;
        display: block;
        font-weight: 300;
        @include respond(phone) {
            font-size: 4rem;
        }
        &--blue {
            color: $color-blue-dark;
        }
        &--image {
            display: inline-block;
            margin: 1rem 2rem 0 0;
            @include respond(phone) {
                margin: 0rem .5rem -1rem 0;
            }
        }
    }
}