.reveal-item {
    transition: all 1.5s ease-out;
    &--hidden {
        opacity: 0;
        visibility: hidden;
        transform: scale(1.2);
    }
    &--visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
    // @include respond (tab-port) {
    //     &--visible.testimonials__card {
    //         transform: scale(1) translateX(-50%);
    //     }
    // }
}