.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.5rem 3rem;
        background-color: $color-blue-dark;
        color: $color-white;
        border-radius: 3px;
        text-decoration: none;
        box-shadow: 0 1rem 2.5rem $color-dark-gray;
        font-size: 1.6rem;
        text-transform: uppercase;
        transform: translateY(0);
        transition: all .3s;
        position: relative;
        cursor: pointer;
        z-index: 1;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 3px;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2.5rem $color-dark-gray;
        &::after{
            transform: scale(1.5, 2);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(0rem);
        box-shadow: 0 .5rem 2rem $color-dark-gray;
    }
    &--orange {
        background-color: $color-orange-dark !important;
        &::after{
            background-color: $color-orange-dark;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            transition: all 0.3s;
    
            }
    }
}