// HOME
.starter {
    &__banner {
        margin-top: 2.5rem;
        display: table;
    }
    &__image {
        &--1 {
            max-width: 80%;
            margin-bottom: 5rem;
        }
        &--2 {
            display: table-cell;
        }
    }
    &__info {
        display: table-cell;
        font-size: 1.5rem;
        line-height: 2;
        &__p {
            text-align: left;
            padding: 0 2rem;
        }
    }
}

.features-section {
    padding: 4rem 1rem 1rem 2rem;
    background-color: $color-blue-dark;
    @include respond(phone) {}
}

.testimonials {
    &.lazyloaded {
        background-image: url('../images/testimonials-bg.jpg');
        background-position: top;
        background-size: cover;
        padding: 4rem;
        @include respond(phone) {
            padding: 1rem;
        }
    }
}

.footer {
    padding: .5rem;
    background-color: $color-blue-dark;
}