// HOME
.starter {
    &__banner{
        margin-top: 2.5rem;
        display: table;
    }
    
    &__image {
        &--1 {
            max-width: 80%;
            margin-bottom: 5rem;
        }
        &--2 {
            display: table-cell;
        }
    }
    &__info {
        display: table-cell;
        font-size: 1.5rem;
        line-height: 2;
        &__p{
            text-align: left;
        }
        
    }
}

.features-section{
    padding-top: 4rem;
    background-color: $color-blue-dark;
    &__header{
        font-size: 6rem;
        text-align: center;
        margin: 3rem 0 10rem 0;
        color: $color-white;
        display: block;
        font-weight: 300;
        &--image{
            display: inline-block;
            margin: 1rem 2rem 0 0;
        }

    }
    
}